#items-table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

#items-table td,
#items-table th {
  text-align: left;
  padding: 0px 10px;
}

#items-table td.eanOrName {
  width: 100%;
}

#items-table .price {
  text-align: right;
}